@import 'normalize';
body {
    font-family: Helvetica, Arial, sans-serif;
}
@mixin clearfix {
    &::after {
        clear:both;
        width:100%;
        height:0px;
        content:'';
        display:block;
    }
}
$red:#ff302e;
$white:#fcfcfc;
$gray:#7a7a7a;
@mixin center {
        width:1000px;
        margin:0 auto;
}
body.dresser {
    background:#e8e8e8;
    margin:0;
    header {
        display:block;
        width:100%;
        padding:0;
        margin:0;
        background:white;
        h1 {
            margin:0;
            padding:0;
        }
        a {
            &:hover {
                opacity:0.6;
            }
        }
        img {
        }
    }
    #dresser {
        @include clearfix;
        width:780px;
        margin:0 auto;
        background:#f2f2eb;
        aside {
            float:left;
            width:33%;
        }
        .center {
            img {
                width:231px;
                height:544px;
                margin-top:30px;
            }
        }
        .left, .right {
            div.piece {
                height:250px;
                width:164px;
                background-image: url('http://placehold.it/164X250');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center top;
                margin:0 auto;
                margin-bottom:3px;
            }
            input {
                background: red;
                color: white;
                border: 0;
                border-radius: 3px;
                width: 70%;
                margin: 0 auto;
                display: block;
                text-align: center;
            }
            span {
                display:block;
                width:100%;
                text-align:center;
                height:45px;
                margin-bottom:20px;
                img {
                    position:relative;
                    top:10px;
                    &:hover{
                        opacity:0.6;
                    }
                }
            }
        }
        .holderforbutton {
            clear:both;
        }
        #loginButton, #submitButton {
            clear:both;
            padding:3px 12px;
            background:$red;
            color:$white;
            margin:10px auto;
            width:200px;
            display:block;
            border-radius:3px;
            text-align:center;
            text-transform:uppercase;
            &:hover {
                opacity:0.6;
            }
        }
    }
    #catalogue {
        @include clearfix;
        width:100%;
        text-align:center;
        div.wrap{
            width: 780px;
            height: 340px;
            margin: 0 auto;
            overflow: auto;
            position:relative;
            margin-bottom:30px;
            input{
                position: absolute;
                top: 122;
                border: 0;
                left: -121px;
                width: 300px;
                padding: 20px;
                transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                z-index: 20;
                background:$red;
                color:white;
            }
        }
        .thumbnails {
            overflow-x: scroll;
            overflow-y: hidden;
            height: 300px;
            white-space:nowrap;
            margin-right:-40000px;
            float:left;
            .thumbnail {
                width:200px;
                float:left;
                height:200px;
                position:relative;
                margin: 2px;
                cursor: pointer;
                display:inline-block;
                vertical-align:top;
                img {
                    border:1px solid $gray;
                    border-radius:3px;
                }
                h3 {
                    width:200px;
                    height:3em;
                    color:$gray;
                    font-size:15px;
                    white-space:normal;
                }
                a {
                    display:none;
                }
                button {
                    position: absolute;
                    z-index: 5;
                    height: 300px;
                    top: 0;
                    left: 0;
                    width: 50%;
                    background: $red;
                    border: 0;
                    color: white;
                    opacity:0;
                    &:last-child{
                        left:50%;
                    }
                    &:hover {
                        opacity:0.6;
                    }
                }
            }
        }
    }
}



body.home {
    background: #67686a;
    section {
        @include center;
    }
    > header {
        height:700px;
        @include center;
        background: url('../images/bg.jpg') no-repeat top center ;
        position:relative;
        &::before {
            width: 100%;
            height: 360px;
            background: url('../images/patron.png') repeat-x ;
            content: '';
            display: block;
            opacity: 1;
            float: left;
            top: 0px;
            position: absolute;
            right: 0px;
        }
        h1 {
            margin:0;
            padding:35px;
            position:relative;
            z-index:10;
            a:hover {
                opacity:0.6;
            }
        }
        nav {
            width:700px;
            background:$white;
            height:70px;
            position:absolute;
            right:70px;
            top:59px;
            z-index:10;
            overflow:hidden;
            padding-left:20px;
            a {
                display:block;
                float:left;
                padding:27px 20px;
                font-size:15px;
                font-weight:300;
                color:$gray;
                cursor:pointer;
                &.active , &:hover {
                    background:$red;
                    color:white;
                }
            }
        }
        h2 {
            position:absolute;
            z-index:10;
            right:60px;
            width:370px;
            bottom:380px;
            text-transform:uppercase;
            color:white;
            text-shadow:1px 1px 0px transparentize($white, 0.3);
            font-size:40px;
            line-height:42px;
            height:2em;
            a {
                color:inherit;
                text-decoration:none;
                &:hover {
                    color:$gray;
                }
            }
        }
        aside {
            position:absolute;
            z-index:10;
            height:340px;
            width:370px;
            background:$white url('../images/ricurita.png')  bottom center no-repeat;
            bottom:0px;
            right:70px;
            overflow:hidden;
            header {
                background:white;
                height:35px;
                padding:0;
                margin-top:3px;
                a {
                    color:$gray;
                    text-transform:uppercase;
                    font-weight:700;
                    display:block;
                    float:left;
                    padding:4px 10px;
                    font-size:27px;
                    width:71px;
                }
                span {
                    font-size:13px;
                    line-height:14px;
                    text-transform:uppercase;
                    display:block;
                    float:left;
                    width:143px;
                    padding:4px 0px 4px 50px;
                    color:$gray;
                }
                button {
                    background:$red;
                    color:white;
                    float:left;
                    display:block;
                    border:0;
                    padding:10px 17px;
                    &:hover {
                        opacity:0.7;
                    }
                }
            }
        }
    }
    #dresser {
        display:none;
    }
    #catalogue {
        @include center;
        background:white;
        padding-bottom:30px;
        .search {
            height:30px;
            padding:30px 60px;
            input {
                background:#f5f5f5;
                border:1px solid #e2e2e2;
                border-radius:3px;
                padding:10px;
                float:right;
            }
        }
        .thumbnails {
            width:100%;
            display:block;
            @include clearfix;
            padding:0 2%;
            margin:0;
            max-width:100%;
            .thumbnail {
                margin:1%;
                width:30%;
                height:auto;
                float:left;
                text-align:center;
                h3 {
                    height:2.5em;
                    color:$gray;
                    overflow:hidden;
                }
                img {
                    position:static;
                    border:1px solid #dddddd;
                    border-radius:3px;
                }
                .rights {
                    display:none;
                }
                button {
                    display:none !important;
                }
                .lefts {
                    background:red;
                    color:white;
                    border:0;
                    font-size:13px;
                    padding:4px 7px;
                    text-transform:uppercase;
                }
            }
        }
    }
}




body > footer {
    background:$red;
    width:100%;
    height:20px;
    color:white;
    padding:30px 0;
    text-align:center;
    color:white;
}
